.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh; /* Fill viewport height */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #d3d3d3;
}
  
  .logo {
    width: 100px; /* Adjust logo size */
    margin-bottom: 20px;
  }
  
  h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    width: 350px;
    padding: 30px;
    border: none;
    border-radius: 20px;
    background-color: #e3e3e3;
  }
  
  label {
    margin-bottom: 5px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    opacity: 0.6;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 15px;
    border: none;
    border-bottom: 1px solid #F2F2F2;
    border-radius: 10px;
    margin-bottom: 15px;
  }
  
  .checkbox-container {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }
  
  button[type="submit"] {
    padding: 15px 20px;
    background-color: #57BA98;
    color: #fff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
  }
  
  a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    margin-top: 10px;
  }
  